.idea

# --- Context preparations
src/base-images/my-climate/config.fish
src/base-images/my-climate/starship-utils

# --- Authentication details ---
src/base-images/papsite-base/auth/*
src/services/fileserver/.htpasswd

# --- Prebuilt venvs ---
src/services/papsite/venvs/live-venv/*
src/services/papsite/venvs/stage-venv/*
src/services/papsite/venvs/devtest-venv/*

# --- Include all placeholder files ---
!**/.gitkeep
